@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ibarra Real Nova', serif;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding: 1rem;
  margin: 0 auto;
}

.main__heading {
  text-align: center;
}

.paragraph {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 1.25rem;
  text-align: center;
}

.topic {
  margin-top: 2rem;
}

.dropdown {
  display: block;
  border: 3px solid #d63031;
  padding: 0.5rem 1rem;
  position: relative;
  margin: 1rem 0;
  cursor: pointer;

  .dropdown__list {
    display: none;
    list-style-type: none;
    background: #fff;
  }

  .dropdown__item {
    padding: 0.5rem 1rem;
    &:hover {
      background: #dfe6e9;
    }
  }

  &--open {
    .dropdown__list {
      display: block;
      position: absolute;
      top: 40px;
      left: -3px;
      border: 3px solid #d63031;
    }
  }
}

.codeblock {
  padding: 1rem;
  border: 1px solid #2d3436;
  border-radius: 3px;
  margin: 1rem 0;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  background: #fff;
  border: 3px solid #d63031;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.input {
  display: block;
  padding: 0.5rem 1rem;
}
