@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ibarra Real Nova', serif;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding: 1rem;
  margin: 0 auto;
}

.main__heading {
  text-align: center;
}

.paragraph {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 1.25rem;
  text-align: center;
}

.topic {
  margin-top: 2rem;
}
